@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.flexAlinhado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 15vh 70vh 15vh;
    font-family: 'Indie Flower', cursive;
    background: url("../imagens/galaxia.jpg");
}

header{
    /* padding-top: 3%; */
    text-align: center;
    /* background-color: blue; */
}

#pontosRestart{
    height: 35%;
}

#corpo{
    display: grid;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

div{
    margin: 0;
    padding: 0;
}

#game{
    position: relative;
    width: 60%;
    height: 100%;
    border: 5px solid white;
}

#restart{
    font-family: 'Indie Flower', cursive;
    /* padding: 10px 20px 10px 20px; */
    font-size: 15pt;
    font-weight: bold;
    color:rgb(112, 4, 112);
    background-color: white;
    border:none;
    border-radius: 10px;
    /* margin-top: 6px; */
    display: none;
}

#play:hover, #restart:hover{
    background-color: rgb(192, 192, 192);
}

h1, h4{
    margin: 0;
    padding: 0;
    color:white;
}

#titulo{
    font-size: 30pt;
    text-shadow: 1px 5px 2px rgb(34, 130, 217);
}

#pontos{
    font-size: 15pt;
    text-align: center;
}

.cobra{
    position: absolute;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}

#maca{
    position: absolute;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}

.posicao{
  top: 300px;
  left: 450px;
}

.maca{
    top: 290px;
    left: 390px;
    display: none;
}

#cobra-rabo{
    display: none;
}

#teste{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}